<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>700201756475-epii43lakg78gj928gqc28t9tpbcbinn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700201756475-epii43lakg78gj928gqc28t9tpbcbinn</string>
	<key>API_KEY</key>
	<string>AIzaSyAV0F0bgtVQSH6rmVpFTghQc0Ir6vC0vAU</string>
	<key>GCM_SENDER_ID</key>
	<string>700201756475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manor.LoginWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>lyndalogin-61d5f</string>
	<key>STORAGE_BUCKET</key>
	<string>lyndalogin-61d5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:700201756475:ios:27784c4adb6902b8</string>
	<key>DATABASE_URL</key>
	<string>https://lyndalogin-61d5f.firebaseio.com</string>
</dict>
</plist>